{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ lst.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" href="{% static 'holland_test/image/favicon.ico' %}"/>
    <link rel="bookmark" href="{% static 'holland_test/image/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'holland_test/css/main.css' %}"/>
    <noscript>
        <link rel="stylesheet" href="{% static 'holland_test/css/noscript.css' %}"/>
    </noscript>
</head>
<body class="is-preload">

<!-- Wrapper -->
<div id="wrapper" class="fade-in">

    <!-- Intro -->
    <div id="intro">
        <h1>华偲心理</h1>
        <p>我们是“华偲心理”，以华东师范大学心理与认知科学学院学生为主创立的互联网心理平台。</p>
        <ul class="actions">
            <li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
        </ul>
    </div>

    <!-- Header -->
    <header id="header">
        <a href="#" class="logo">华偲心理</a>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul class="links">
            <li><a href="/evaluation/">心理评测</a></li>
            <li><a href="/evaluation/result/">评测结果</a></li>
            <li class="active"><a href="/profession/">推荐专业</a></li>
        </ul>
        <ul class="icons">
            <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">GitHub</span></a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">
        <!-- Featured Post -->
        <article class="post featured">
            <header class="major">
                <h2><a href="#">霍兰德职业兴趣测试</a></h2>
                <p>霍兰德职业兴趣自测是由美国职业指导专家霍兰德根据他本人大量的职业咨询经验及其职业类型理论编制的测评工具。</p>
            </header>
            <ul class="actions special">
                <li><a href="#profession" class="button large">查看专业</a></li>
            </ul>
        </article>

        <h2 id="profession">{{ lst.name }}</h2>
        <dl>
            <dt>学科门类</dt>
            <dd>{{ lst.sub_category.category }}</dd>
            <dt>所属子类</dt>
            <dd>{{ lst.sub_category }}</dd>
            <dt>专业代码</dt>
            <dd>{{ lst.profession_code }}</dd>
            <dt>学历层次</dt>
            <dd>
                {% for j in lst.education_level.all %}
                    {{ j.name }}&nbsp;
                {% empty %}
                    暂无收录
                {% endfor %}
            </dd>
            <dt>专业核心课程</dt>
            <dd>{{ lst.core_course }}</dd>
            <dt>对应高中课程</dt>
            <dd>{{ lst.high_school_curriculum }}</dd>
            <dt>对应职业方向</dt>
            <dd>{{ lst.career_direction }}</dd>
        </dl>
    </div>

    <!-- Copyright -->
    <div id="copyright">
        <ul>
            <li>&copy; 华偲心理</li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
        </ul>
    </div>

</div>

<!-- Scripts -->
<script src="https://cdn.bootcss.com/jquery/3.4.0/jquery.min.js"></script>
<script src="{% static 'holland_test/js/jquery.scrollex.min.js' %}"></script>
<script src="{% static 'holland_test/js/jquery.scrolly.min.js' %}"></script>
<script src="{% static 'holland_test/js/browser.min.js' %}"></script>
<script src="{% static 'holland_test/js/breakpoints.min.js' %}"></script>
<script src="{% static 'holland_test/js/util.js' %}"></script>
<script src="{% static 'holland_test/js/main.js' %}"></script>

</body>

</html>